[submodule "unit_0"]
	path = unit_0
	url = https://github.com/rbuj-UOC/22.403-unit_0.git
[submodule "unit_1"]
	path = unit_1
	url = https://github.com/rbuj-UOC/22.403-unit_1.git
[submodule "activity_1"]
	path = activity_1
	url = git@github.com:rbuj-UOC/22.403-activity_1.git
