[submodule "unit_0"]
	path = unit_0
	url = https://github.com/rbuj-UOC/22.403-unit_0.git
[submodule "unit_1"]
	path = unit_1
	url = https://github.com/rbuj-UOC/22.403-unit_1.git
[submodule "activity_1"]
	path = activity_1
	url = git@github.com:rbuj-UOC/22.403-activity_1.git
[submodule "unit_3"]
	path = unit_3
	url = git@github.com:rbuj-UOC/22.403-unit_3.git
[submodule "unit_2"]
	path = unit_2
	url = git@github.com:rbuj-UOC/22.403-unit_2.git
[submodule "activity_sol_1"]
	path = activity_sol_1
	url = https://github.com/rbuj-UOC/22.403-activity_sol_1.git
[submodule "activity_2"]
	path = activity_2
	url = https://github.com/rbuj-UOC/22.403-activity_2.git
[submodule "unit_4"]
	path = unit_4
	url = https://github.com/rbuj-UOC/22.403-unit_4.git
[submodule "unit_5"]
	path = unit_5
	url = https://github.com/rbuj-UOC/22.403-unit_5.git
[submodule "activity_3"]
	path = activity_3
	url = https://github.com/rbuj-UOC/22.403-activity_3.git
[submodule "activity_sol_2"]
	path = activity_sol_2
	url = git@github.com:rbuj-UOC/22.403-activity_sol_2.git
[submodule "unit_6"]
	path = unit_6
	url = git@github.com:rbuj-UOC/22.403-unit_6.git
[submodule "activity_4"]
	path = activity_4
	url = git@github.com:rbuj-UOC/22.403-activity_4.git
[submodule "activity_sol_3"]
	path = activity_sol_3
	url = git@github.com:rbuj-UOC/22.403-activity_sol_3.git
